:root{
   --color-black-dark:#000;
   --color-gray-light:#f5f5f5;
   --color-primary-medium:#2A7AE4;

   --color-frontend: #6BD1FF;
   --color-infra: #9CD33B;
   --color-brackend: #00C86F;
   --color-marketing:#6B5BE2;
   --color-mobile:#FFBA05;
   --color-inovation:#FF8C2A;
   --color-ux: #DC6EBE;
   --color-data-science: #9CD33B;
}